@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll style */
::-webkit-scrollbar {
    width: 10px;
    box-shadow: inset 0 0 5px gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-blue-800 rounded-[10px];
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-blue-600 cursor-pointer;
}

* {
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Start Main Nav */

.navItem {
    cursor: pointer;
    position: relative;
    font-weight: bolder;
    z-index: 1;
}

nav ul span {
    transition: 0.5s;
    @apply absolute top-0 left-0 w-[100px] h-full bg-gradient-to-r from-blue-950 to-blue-800 rounded-lg;
}

nav ul .navItem:nth-child(1):hover~span {
    left: 0;
}

nav ul .navItem:nth-child(2):hover~span {
    left: 115px;
    width: 110px;
}

nav ul .navItem:nth-child(3):hover~span {
    left: 240px;
}

nav ul .navItem:nth-child(4):hover~span {
    left: 350px;
    width: 120px;
}

nav ul .navItem:nth-child(5):hover~span {
    left: 480px;
    width: 110px;
}

nav ul .navItem:nth-child(6):hover~span {
    left: 620px;
    width: 135px;
}

nav i {
    transition: 0.5s;
    @apply block md:hidden absolute -right-10 top-8 p-3 rounded-r-3xl cursor-pointer bg-gradient-to-r from-blue-950 to-blue-800 text-white text-2xl hover:rounded-r-xl ;
}

/* Nav Responsive */
@media (max-width: 768px) {
    nav ul {
        text-align: center;
    }

    nav ul span {
        height: 50px;
        width: 100%;
    }

    nav ul .navItem:nth-child(1):hover~span {
        top: 0;
    }

    nav ul .navItem:nth-child(2):hover~span {
        left: 0;
        top: 70px;
        width: 100%;
    }

    nav ul .navItem:nth-child(3):hover~span {
        left: 0;
        top: 135px;
    }

    nav ul .navItem:nth-child(4):hover~span {
        left: 0;
        top: 200px;
        width: 100%;
    }

    nav ul .navItem:nth-child(5):hover~span {
        left: 0;
        top: 270px;
        width: 100%;
    }

    nav ul .navItem:nth-child(6):hover~span {
        left: 0;
        top: 335px;
        width: 100%;
    }
}

/* End Nav Responsive */
/* End Main Nav */


/* text content */

@media (max-width: 1030px) {
    .text-content h1 {
        font-size: 45px;
    }

    .main-sec .container {
        padding: 0 20px;
    }
}

/* End Text Content */

/* image animation and effect */
.img-container::after {
    content: '';
    width: 103%;
    height: 103%;
    background: linear-gradient(to right, #A200FF, rgb(255, 255, 255), #1700FF);
    position: absolute;
    z-index: -1;
    padding: 15px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation-name: rota;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rota {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* end image container animation */

/* resume Button */

.text-content button::after {
    content: '';
    position: absolute;
    width: 0%;
    transition: 0.5s;
    height: 100%;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    background: linear-gradient(to right, rgb(0, 0, 122), rgb(0, 60, 255));
    border-radius: 12px;
    z-index: -1;
}

.text-content button:hover::after {
    width: 100%;
}

/* Start About us */
.about-us h1::after,
.skills h1::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 60px;
    background-color: white;
    transition: 0.5s;
}

.about-us h1:hover::after,
.skills h1:hover::after {
    width: 100%;
}

.about-us img {
    animation: moveImage 5s infinite;
    border: 2px solid white;
    box-shadow: 0 0 5px #fff;
}

@keyframes moveImage {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(10px, 10px);
    }

    100% {
        transform: translate(0);
    }
}

/* End about us */

/* start left Nav */

.left-nav li {
    @apply text-white text-2xl mb-5 cursor-pointer;
}

.link-icons li:nth-child(1):hover {
    color: #2563eb;
    text-shadow: 0 0 3px #2563eb;
}

.link-icons a:nth-child(2):hover {
    color: #b6b5ca;
}

.link-icons li:nth-child(3):hover {
    color: #ff6f00;
}

.link-icons li:nth-child(4):hover {
    color: #003fc8;
    text-shadow: 0 0 3px #003fc8;
}

.link-icons li:nth-child(5):hover {
    color: #32556d;
    text-shadow: 0 0 3px #32556d;
}

.left-nav.remove {
    display: none;
}

/* End Left Nav */

/* Start Skills */
.skill {
    @apply w-[160px] h-[160px] relative md:mt-0 mt-16;
}

.skills h1::after{
    width: 30px;
}

.outer {
    @apply h-[160px] w-[160px] rounded-[50%] p-[20px];
    box-shadow: -6px -6px 10px -1px rgba(0, 0, 0, 0.7),
        6px 6px 6px -1px rgba(255, 255, 255, 0.15);
}

.inner {
    @apply h-[120px] w-[120px] rounded-[50%] flex items-center justify-center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(0, 0, 0, 0.7),
        -0.5px -0.5px 0px rgba(0, 0, 0, 1),
        0.5px 0.5px 0px rgba(255, 255, 255, 0.15),
        8px 12px 10px -10px rgba(255, 255, 255, 0.05);
}

.number{
    @apply font-[600] text-white text-2xl;
}

circle{
    fill: none;
    stroke: #2563eb;
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
}
.circle1.active{
    animation: animateCircle 2s linear forwards;
}
.circle2.active{
    animation: animateCircle2 2s linear forwards;
}
.circle3.active{
    animation: animateCircle3 2s linear forwards;
}

.circle4.active{
    animation: animateCircle4 2s linear forwards;
}
.circle5.active{
    animation: animateCircle5 2s linear forwards;
}
.circle6.active{
    animation: animateCircle6 2s linear forwards;
}

.circle7.active{
    animation: animateCircle7 2s linear forwards;
}

@keyframes animateCircle{
    100%{
        stroke-dashoffset: 65;
    }
}

@keyframes animateCircle2{
    100%{
        stroke-dashoffset: 79;
    }
}
@keyframes animateCircle3{
    100%{
        stroke-dashoffset: 180;
    }
}
@keyframes animateCircle4{
    100%{
        stroke-dashoffset: 120;
    }
}

@keyframes animateCircle5{
    100%{
        stroke-dashoffset: 160;
    }
}
@keyframes animateCircle6{
    100%{
        stroke-dashoffset: 235;
    }
}

@keyframes animateCircle7{
    100%{
        stroke-dashoffset: 170;
    }
}
svg{
    position: absolute;
    top: 0;
    left: 0;
}

.skill h2{
    @apply font-bold text-white tracking-normal text-center mt-5;
}
/* End Skills */